<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'Ventas/css/estilos.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <form action="{% url 'registrar' %}" method="post" enctype="multipart/form-data" name="">
        {% csrf_token %}
        <div class="form-group">
            <label>Chip</label>
            <input type="number" class="form-control" id="chip" name="chip">
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>

        <div class="form-group">
            <label>Edad</label>
            <input type="number" class="form-control" id="edad" name="edad">
        </div>

        <div class="form-group">
            <label>Color de Pelo</label>
            <input type="text" class="form-control" id="pelo" name="pelo">
        </div>

        <div class="form-group">
            <label>Foto</label>
            <input type="file" class="form-control" id="foto" name="foto">
        </div>

        <div class="form-group">
            <label>Raza</label>
            <select class="form-control" name="raza" id="raza">
                {% for i in raza_m %}
                <option value="{{i.idRaza}}">{{i.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    
</body>
</html>