{% extends 'Ventas/plantillaMascotas.html' %}
{% load static %}


{% block titulo %}
<title>{{ nombre }}</title>
{% endblock titulo %}

{% block subtitulo %}
<h1>{{ nombre }}</h1>
{% if nombre == "Firulai" %}
asdsadds
{% endif %}
{% endblock subtitulo %}

{% block imagenMascota %}
<img src="{{ imagen }}" class="imagen" alt="No hay imagen">
{% endblock imagenMascota %}

{% block descripcion %}
<p>Edad: {{ edad }}</p>
<p>Color de Pelo: {{ pelo }}</p>
{% endblock descripcion %}