<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}

    {% endblock titulo %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'Ventas/css/estilos.css' %}" type="text/css" rel="stylesheet">
</head>
<body class="fondo">
    <div class="container">
        <div class="row">
            {% block subtitulo %}
            {% endblock subtitulo %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% block imagenMascota %}
                {% endblock imagenMascota %}
            </div>
            <div class="col-md-6">
                {% block descripcion %}
                {% endblock descripcion %}
            </div>
        </div>
    </div>
</body>
</html>